*{
    background-color: rgb(230, 230, 219);
    text-align: center;
    padding: 5px;
   
    
}
#b{
    color: blue;
    font-style: initial;
   
}
#p{
    margin: 0%;
}
footer{
    font-style: italic;
    color: rgb(6, 6, 134);
    margin-top: 100px;
}
#info{
    line-height: 2.5;
    border-radius: 50%;
    box-sizing: border-box;
    
}
#debut{
   margin-bottom:  50px;
}
button{
    background-color: blue;
    color: alicebluejav;
}